.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# For newer Flutter SDKs
.flutter-plugins
.flutter-plugins-dependencies